*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background-color: black;
	color: white;
}

.turn{
	position: absolute;
	height:  20vh;
	width: 20vh;
	text-align: center;
	line-height: 20vh;
	font-size: 20vh;
	font-weight: bold;
}

.hidden{
	display: none;
}

.xdiv{
	right: 0;
}

.odiv{
	left: 0;
}
.player1{
	background-color: green;
}
.container{
	height: 100vh;
 	width: 100vh;
 	margin: 0 auto;
}

.square{
	display: inline-block;
	height: 33vh;
	width: 33vh;
	border-width: .5vh;
	border-color: white;
	text-align: center;
	line-height: 33vh;
	font-size: 17vh;
	vertical-align: top;
}

.win{
	background: darkgreen;
}

#square1{
	border-bottom-style: solid;
	border-right-style: solid;
}

#square2{
	border-bottom-style: solid;
}

#square3{
	border-bottom-style: solid;
	border-left-style: solid;
}

#square4{
	border-right-style: solid;
}
#square6{
	border-left-style: solid;
}

#square7{
	border-top-style: solid;
	border-right-style: solid;
}
#square8{
	border-top-style: solid;
}

#square9{
	border-top-style: solid;
	border-left-style: solid;
}